	<div class="issue">
			<h3><%= link_to issue.name, issue_path(issue)  %>  |  <small>Priority: <%= issue.priority_level.name %></small></h3>
			
			<p>Date Created:<%= issue.created_at.to_date %></p> Status: <%= issue.status.name %></p>
	</div>
