	<div class="issue">
			<h3><%= issue.name %>  |  <small class ="priority level"><%= issue.priority_level %></small></h3>
			
			<p>Date Created:<%= issue.created_at %> Status: <%= issue.status %></p>
		</div>
	</div>