<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thank you for submitting your issue to your representative.  Below is a copy of what you submitted.
    </p>
    <p>
      <strong>Your Issue</strong><br />
       <%= @description %>
     </p>
  </body>
</html>