<div class="constituent">
  <h4> Constituent Info</h4>
    <p>Name: <%= "#{constituent.fname} #{constituent.lname}" %> </p>
		
		<p>Address: <%= constituent.address %></p>
    <p>Phone: <%= constituent.cell || constituent.landline %></p>
    <p>Email: <%= constituent.email %></p>
    
	</div>
</div>
