

<div class="row">

	<div class="large-4">
	<%= render @issues %>
	</div>
	
</div>

<div class="large-8">
	<div class="issue-profile">

	</div>

</div>
</div> 
/* issue-status feed 
<div class="row">
<div class="large-8"> 


</div>
</div> 
