
/* dashboard */

<div class="row">

/* issue-feed */
	<div class="large-4">
	<%= render @issues %>
	</div>
	
</div>

/* profile */
<div class="large-8">
	<div class="issue-profile">

	</div>

</div>
</div> /* end row */

/* issue-status feed 
<div class="row">
<div class="large-8"> /* pull-right */


</div>
</div> /* end row */
