
<div class="large-12">
	<div class="home"></div>
	<div class="row dark-background">
		<div class="large-12">
		<ul class="small-block-grid-3 intro">
		  <li class="text">
		  	<div class="blurb">
		  	<h1 class="center number">1</h1>
		  	<h4 class="title">Record Issue</h4>
		  	<p>Login to you account. Create a new case form using an editable form.</p>
		  	<div>
		  </li>

		  <li class="text">
		  	<h1 class="center number">2</h1>
		  	<h4 class="title">Manage Progress</h4>
		 		<p>Track and manage issues using a newsfeed and intuitive dashboard with smart analytics on issues.</p>
		  </li>
		  <li class="text">
		  	<h1 class="center number">3</h1>
		  	<h4 class="title">Update Constituent</h4>
		  	<p>Contact your constituents via email, text, or phone to update them on their issue.</p>
		  </li>
		</ul>
	</div>
	</div>
</div>

<div class="large-10 large-offset-1 pitch">
<h3>A new approach to handling issues with your constituents.</h3>
</div>