
/* sitewide */

.center {
	text-align: center;
}

a {
	color: green;
 }

/* home page */

.home {
	height:500px;
	background: url('/images/home1.jpg');
}

.intro {
	margin-top: -25px;
}

.number {
	padding-bottom: 25px;
}

.title {
	text-align: left;
	padding-left: 25px;
}


ul li p { 
	text-align: justify;
	padding: 10px 25px;

}


.pitch {
	text-align: center;
	padding: 30px;
	border: 3px solid black;
	margin: 40px;
}

/* issues feed */

.issues {
	border-bottom: solid 1px black;
}

/* updates feed */

.issues {
	border-bottom: solid 1px black;
}

