
/* sitewide */

.header {
	background: white;
	width: 100%;
	hieght: 40;

}

.header .logo h2 {
	color: #1e1e1e;
}

.logo {
	padding-left: 20px;
	color: lightgray;
}

.menu {
	padding-top: 15px;
	padding-right: 15px;

}
.menu a {
	color: #1e1e1e;
	margin-top: 15px;
	padding-top: 15px;
}

.center {
	text-align: center;
}

a {
	color: green;
 }

 body {
 	background: #1e1e1e;
 }

 nav {
 	background: white;
 }

/* home page */


.home {
	height:500px;
	background: url('/images/home1.jpg');
	width: 100%;
	repeat: no-repeat;

}


.intro {
	background: white;
}

.number {
	margin-top: -30px;
	background: #bc3952;
	color: white;
}

.title {
	text-align: left;
	padding-left: 25px;
}


ul li p { 
	text-align: justify;
	padding: 10px 25px;

}


.pitch {
	text-align: center;
	padding: 30px;
	border: 3px solid black;
	margin: 40px;
	color: white;
}

.pitch h3 {
	color: white;
}

/* issues feed */

.issues {
	border-bottom: solid 1px lightgray;
	color: lightgray;

}

/* updates feed */

.issues {
	border-bottom: solid 1px black;
}

